@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 16px;
  color: black;
}

nav {
  background-color: rgb(112, 112, 223);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 40px;
}

nav a:hover {
  background: #fff;
}

img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 24px;
}

.container {
  display: flex;
  flex-direction: row;
}

.menu-left {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.menu-left a:hover {
  background: #fafaf1;
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 3;

  flex-wrap: wrap;
}

.menu-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.red:hover {
  background:red;
  opacity: 0.4;
}

.orange:hover {
  background:orange;
  opacity: 0.4;
}

.yellow:hover {
  background:yellow;
  opacity: 0.4;
}

.green:hover {
  background:green;
  opacity: 0.4;
}

.blue:hover {
  background:blue;
  opacity: 0.4;
}

.purple:hover {
  background:purple;
  opacity: 0.4;
}

footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
